Package: python-wifi
Version: 0.5-20071703-r0
Description: Wireless Extension for Python
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Reichi <stephan@reichholf.net>
Homepage: http://dream.reichholf.net
Depends: python
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
