Package: enigma2-plugin-extensions-dvdbackup
Version: 1.0
Description: Create a backup of your Video-DVD
Maintainer: Nabil Hanna <nabil1978@web.de>
Homepage: http://www.lt-forums.org/ali
Depends: cdrkit, libdvdread, dvdbackup
