Package: enigma2-plugin-systemplugins-automaticvolumeadjustment
Version: 1.0
Description: Automatic Volume Adjustment
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: http://www.dreambox-tools.info
Depends: enigma2
