body {
	font-family: Tahoma, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #555
}

a,a:visited,a:active {
	color: #485052;
	text-decoration: none;
}

img {
	border: 0px;
}

#notification {
	color: #000;
	width: 500px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 134px;
	text-align: center;
	vertical-align: bottom;
	z-index: 2;
}

/***********************
 GENERAL
 ***********************/
.odd {
	background-color: #FFF;
}

.even {
	background-color: #DDD;
}

.fullwidth {
	width: 100%;
}

.center {
	text-align: center;
}

#container {
	margin: 0 auto; /* align for good browsers */
	text-align: left; /* counter the body center */
	width: 100%;
	/*border: 2px solid #DDD;*/
	)
}
/***********************
 BANNER with MainMenu
 ***********************/
#banner {
	width: 100%;
	margin-bottom: 0px;
	border-bottom: 1px solid #FFF;
	position: relative;
	float: left;
}

#bannerText {
	margin-bottom: 10px;
	padding-left: 2px;
	padding-top: 6px;
}

#bannerLeft {
	width: 600px;
	float: left;
	display: inline;
}

#bannerRight {
	text-align: right;
	float: right!important;
	margin: 2px;
}

#bannerRight img {
	padding-top: 5px;
}

/**************
 vlcPlayer
 **************/
#vlcPlayer {
	margin: 0px;
	padding: 0px;
}

#vlcButtons {
	border-top: 1px solid #FFF;
}

#volumeTable {
	width: 100%;
	text-align: right;
}

#vlcVolume {
	width: 30px;
}

/**************
 Content
 **************/
#content {
	width: 100%;
	min-height: 568px;
	margin: 0px;
	padding: 0px;
	background: #000
}

/**************
 Current
 **************/
#currentTable {
	padding-left: 2px;
	padding-top: 3px;
	width: 100%;
}

#currentDuration {
	text-align: right;
}

/***************
* IE6 Hackstuff
***************/
* html #banner {
	width: 100%;
}

* html #bannerRight {
	width: 120px;
}

* html #nav {
	width: 99%;;
	padding-left: 5px;
}

* html .navTable {
	width: 95%;
}
