Package: enigma2-plugin-extensions-autotimer
Version: 0.3.1-20080812-r0
Description: Automatically add Timers based on simple rules 
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2(>=2.5git20081203), python-codecs, python-re, python-xml
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
