Package: enigma2-plugin-extensions-audiosync
Replaces: enigma2-plugin-extensions-ac3lipsync
Conflicts: enigma2-plugin-extensions-ac3lipsync
Version: 1.2-20100225-r0
Description: Set Audio delay
Maintainer: Tode <sagichnet@gmx.net>
Depends: enigma2 (>= 2.6git20091203)
