Package: enigma2-plugin-extensions-sudoku
Version: 7.1r0
Section: extra
Priority: optional
Architecture: all
Maintainer: DarkVolli
Description: Sudoku Game FHD modded by Lululla
Source: /
Homepage: *
OE: enigma2-plugin-extensions-sudoku
License: *
