aclocal.m4
autom4te.cache/
config.guess
config.log
config.sub
config.status
configure
depcomp
enigma2-plugins-config.h
enigma2-plugins-config.h.in
enigma2-plugins-config.h.in~
index-enigma2-plugins.xml
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
mipsel-oe-linux-libtool
missing
py-compile
stamp-h1
.deps/
.libs/
.settings/
*.la
*.lo
*.mo
*.o
*.bak
*.*~
.kdev4/
*.kdev4