Package: enigma2-plugin-extensions-pluginhider
Version: 0.0.1-20110615-r0
Description: show/hide plugins from plugin and extensionsmenu
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2 (>= 2.6git20090120), python-lang
