Package: enigma2-plugin-extensions-filebrowser
Version: 1.0
Description: manage local Files
Maintainer: 3c5x9 <3c5x9@gmx.net>
Homepage: http://www.i-have-a-dreambox.com
Depends: enigma2 (>> 1.0git20090601)
