Package: enigma2-plugin-extensions-zapstatistic
Version: 0.1-r0
Description: Shows the watched services with some statistic
Maintainer: Nabil Hanna <nabil1978@web.de>
Homepage: http://www.lt-forums.org/ali
Depends: enigma2 (>= 2.6git20090615)
