Package: enigma2-plugin-extensions-webinterface
Version: 0.5beta
Description: Enigma2 Plugin: extensions-webinterface
Section: base
Priority: optional
Maintainer: Felix Domke <tmbinc@elitedvb.net>
Architecture: noarch
Homepage: unknown
Depends: enigma2(>20070430), twisted-web2
