Package: enigma2-plugin-extensions-webinterface
Version: 1.6rc2
Description: Control enigma2 with your Browser
Section: extra
Priority: optional
Maintainer: Felix Domke <tmbinc@elitedvb.net>
Architecture: noarch
Homepage: http://enigma2-plugins.schwerkraft.elitedvb.net/
Depends: enigma2(>2.6git20090506), twisted-web, python-pyopenssl, python-crypt
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
