Package: enigma2-plugin-extensions-webinterface
Version: 0.98.5
Description: Enigma2 Plugin: extensions-webinterface
Section: base
Priority: optional
Maintainer: Felix Domke <tmbinc@elitedvb.net>
Architecture: noarch
Homepage: unknown
Depends: enigma2(>2.3cvs20071008), twisted-web2
