Package: enigma2-plugin-extensions-virtualzap
Version: 1.0
Description: E2 Virtual Zap Plugin
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: http://www.dreambox-tools.info
Depends: enigma2 (>> 2.6git20091201)
