Package: enigma2-plugin-extensions-audiosync
Version: 1.0b1-20091118-r0
Description: Set Audio delay
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Tode <sagichnet@gmx.net>
Homepage: n/a
Depends: 
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
