Package: enigma2-plugin-extensions-audiosync
Replaces: enigma2-plugin-extensions-ac3lipsync
Conflicts: enigma2-plugin-extensions-ac3lipsync
Version: 1.2-20100225-r0
Description: Set Audio delay
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Tode <sagichnet@gmx.net>
Homepage: n/a
Depends: enigma2 (>= 2.6git20091203)
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
