Package: enigma2-plugin-extensions-httpproxy
Version: 1.0
Description: use your Dreambox as Web Proxy
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: 3c5x9 <3c5x9@gmx.net>
Homepage: n/a
Depends: enigma2(>1.0git20070908), twisted-web
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
