Package: enigma2-plugin-extensions-schiffe
Version: 7.1r0
Section: extra
Priority: optional
Architecture: all
Maintainer: DarkVolli
Description: Schiffe Battleship Game FHD Modded by Lululla
Source: /
Homepage: *
OE: enigma2-plugin-extensions-schiffe
License: *
