ul {
	margin: 0px;
	padding: 0px;
}

fieldset {
	border: 1px solid #000
}

li {
	list-style: none;
	vertical-align: middle;
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 1;
	border-bottom: 1px solid #AAA;
	background-image: -webkit-linear-gradient( #ddd , #eee );
	background-image: -moz-linear-gradient( #fdfdfd , #eee );
	background-image: -ms-linear-gradient( #fdfdfd , #eee );
	background-image: -o-linear-gradient( #fdfdfd , #eee );
	background-image: linear-gradient( #fdfdfd , #eee );
	
}

form{
	margin: 0;
}

p{
	font-size: 12px;
	margin: 0;
	padding: 0;
}

input[disabled]{
	border: 0px;
	background: none;
}
#new{
	border-bottom: 1px solid #AAA;
	padding:5px;
}

form.editForm{
	margin: 5px 75px 5px 5px;
}

#contentHd a, #contentHd a:visited, #contentHd a:active {
	color: #FFF;
	text-decoration: underline;
	font-size: 10px;
}

#contentHd a:hover{
	color:#CCC;
	text-decoration: underline;
	background: #000;
}

a, a:visited, a:active {
	color: #485052;
	text-decoration: none;
}

a:hover{
	background-color:#CCC;
	color:#485052;
	z-index: 1
}

a.item{
	display:block;
	vertical-align: middle;
	padding: 10px;
	margin-right: 70px;
}

a.item div{
	vertical-align: middle;
}

.listButtonRight{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	width: 70px;
	height: 100%;
	z-index: 2;
	/*padding: 17px 10px 17px 10px;*/
	padding: 0;
	text-align: center;
	border-left: 1px solid #AAA;
}

.listButtonRight span{
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 18px;
	left: 0;
}

.rightLinkTop{
	top: 9px;
	right: 80px;
}

.rightLinkBottom{
	top: 27px;
	right: 80px;
}

a.rightLink, a.rightLink:visited, a.rightLink:active {
	display: inline-block;
	position: absolute;
	color: #485052;
	text-decoration: underline;
	font-weight: normal;
	font-size: 12px;
}

a.rightLink:hover{
	color:#000;
	text-decoration: underline;
	background: none;
}
