Package: enigma2-plugin-extensions-dreamirc
Version: 1.0-20090406-r0
Description: simple IRC GroupChat client for e2 -> #dm8000-vip edt
Maintainer: Michael Alexejew <luke_s@opendreambox.org>
Homepage: http://enigma2-plugins.schwerkraft.elitedvb.net
Depends: enigma2 (>= 2.6git20090219)
