Package: enigma2-plugin-systemplugins-networkwizard
Version: 1.0-20080529-r0
Description: Network Connection Wizard
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Mladen Horvat <mladen.horvat@multimedia-labs.de>
Homepage: http://enigma2-plugins.schwerkraft.elitedvb.net
Depends: enigma2(>1.0cvs20070321)
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
