Package: enigma2-plugin-extensions-lastfm
Version: 0.6-20110611-r0
Description: Listen to Last.FM Internet Radio, the social music revolution 
Maintainer: 3c5x9 <3c5x9@gmx.net>
Depends: enigma2 (>> 1.0git20070908), python-twisted-web, gst-plugin-neonhttpsrc, python-crypt
