Package: enigma2-plugin-extensions-lastfm
Version: 1.0-20110531-r0
Description: Listen to Internet Radio Last.FM, the social music revolution 
Maintainer: 3c5x9 <3c5x9@gmx.net>
Depends: enigma2 (>> 1.0git20070908), python-twisted-web, gst-plugin-neonhttpsrc, python-crypt
