Package: enigma2-plugin-extensions-lastfm
Version: 0.4-20070408-r0
Description: a client to use last.fm, the social music revolution 
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: 3c5x9 <3c5x9@gmx.net>
Homepage: n/a
Depends: enigma2(>1.0git20070908), twisted-web, gst-plugin-neonhttpsrc, python-crypt
Source: http://schwerkraft.elitedvb.net/scm/?group_id=11
