Package: enigma2-plugin-extensions-moviesearch
Version: 1.0-20110424
Description: Add search functionality to movie list
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Depends: enigma2 (>> 2.5git20081117)
