Package: enigma2-plugin-extensions-kiddytimer
Version: 0.2-20090820-r0
Description: Allows to control the Kids' daily TV usage
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Tode <sagichnet@gmx.net>
Homepage: n/a
Depends: 
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
