Package: enigma2-plugin-systemplugins-3dsettings
Version: 1.0
Description: 3D OSD Switcher
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: http://www.dreambox-tools.info
Depends: enigma2
