Package: enigma2-plugin-extensions-merlinepg
Version: 1.0
Description: Merlin Programm Guide
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Vali
Homepage: http://www.dreambox-tools.info
Depends: enigma2(>2.6git20091201)
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
