Package: enigma2-plugin-extensions-imdb
Version: 0.1-20080118-r0
Description: query movie details from the Internet Movie Database
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: fraxinas <andreas.frisch@multimedia-labs.de>
Homepage: n/a
Depends: enigma2(>=2.5git20080416), python-html, twisted-web
Source: http://schwerkraft.elitedvb.net/scm/?group_id=11
