.rtop, .rbottom{display:block}
.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 2px}

body { 	
	text-align:left;
	vertical-align: top;
	margin:0px; 
	font-family:Arial,sans-serif;
	font-size: 14px;
	background-color:#EEEEEE;
	color:#444444;
	cursor: default;
}

a:link { color:#444444; }
a:visited { color:#444444; }
a:active { color:#444444; }

hr{ border: 1px solid #BBBBBB; 
	margin-left: 3px;
	margin-right: 3px;
}

form{
	margin: 0px;
	padding: 0px;
}

/**************************************************************
Make the ServiceList Table scrollable**************************
***************************************************************/

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.BodyContentChannellist {
	clear: both;
	border: 1px solid #000;
	height: 450px;
	overflow: auto;
	margin: 0 9 0;
	width: 780px;
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.BodyContentChannellist {
	overflow: hidden;
	width: 780px;
}

/* define width of table. IE browsers only                 */
div.BodyContentChannellist table {
	float: left;
	width: 764px;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.BodyContentChannellist table {
	width: 780px;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
	background: #0066CC;
	border: 0px;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 422px;
	overflow: auto;
	width: 100%;
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */


tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
/*
tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
*/
/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 780px;
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: 764px;
}

/****************************************
normal stylesheet-stuff******************
*****************************************/

#Main{
	padding: 0;
	width:920px;
	height:99%;
	text-align: left;
	margin: 2 2 2;
	vertical-align: top;
	cursor: default;
}

#Content{
	vertical-align: top;
	border: 1px solid #006699;
	float: left;
	background-color: #FFFFFF;
	width: 800px;
	height: 100%;	
}

#CurrentService { 
	font-family:Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	
	float:left;

	background-color: #0066CC;
	color: #FFFFFF;

	width:50%;
	height:20px;
}

#CurrentTime { 
	font-family:Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	
	float:left;
	text-align:right;
	
	background-color: #0066CC;
	color: #FFFFFF;
	
	width:50%;
	height: 20px;
}

#nav{
	vertical-align: top;
	border-top: 1px solid #006699;
	border-left: 1px solid #006699;
	border-bottom: 1px solid #006699; 
	float: left;
	padding: 0;
	margin: 0;
	height:100%;
	width: 117px;
}

#navTable{
	background-color: #99CCFF;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	margin:0px;
	padding:0px;
}


td.navEl{
	border-bottom: 1px solid #000000;
	height: 35px;
	padding: 0px;
	width:100%;
	height:100%;	 
}

a.navEl:link { color:#444444; }
a.navEl:visited { color:#444444; }
a.navEl:active { color:#444444; }

a.navEl{
	text-decoration: none;
	color: #999999;
	display: block;
	width:100%;
	height:35px;
	background-image: url(img/bg_nav_btn.png); 
	background-repeat: repeat-x; 
}

a.navEl:hover{
	color:#000000;
	background-image: url(img/bg_nav_btn_hover.png); 
	background-repeat: repeat-x; 
}


#NavHd{
	background-color: #0066CC;
	color: #FFFFFF;
	font-weight: bold;
	height: 20px;
	vertical-align: middle;
}

#EventNowNext{
}
#debug{
	font-size: 8px;
	width:100%;
	display:none;
}
#updates{
	visibility: hidden;
}

#ServiceLists{
	z-index: 1;
	position: relative;
}
#BouquetChanger{
	z-index: 2;
	position: absolute;
	top: 1px;
	left: 1px;
	background-color: #FFFFFF;
	padding: 2px;
	border: 1px solid #000000;
	float:left;
}
.bouquetChangerItem{
	width: 100%;
}

.bouquetChangerItem:hover{
	background-color: #BBBBBB;
}
.divblock{
	width:100%;
	float:none;
	clear:both;
	
}

.headerBlueBlock{
	width:100%;
	float:none;
	clear:both;
	background-color: #abcdef;
}
.eventBlock{
	width:100%;
	float:none;
	clear:both;
	cursor:help;
}
.event{
	font-size:12px;
	width:100%;
	font-weight:bold;
	background-color: #DDEEFF;
	margin-bottom: 1px;
	cursor:help;
}
.eventRA{
	font-size:12px;
	width:100%;
	font-weight:bold;
	text-align:right;
	background-color: #DDEEFF;
	margin-bottom: 1px;
	cursor:help;
}
.eventExtDesc{
	color: #777777;
	background-color: #FFFFFF;
	font-size:12px;
	margin-bottom: 1px;
	width:100%;
}
.nospace{
	padding: 15px;
	margin: 15px;
}

.bgMain{
	background-color: #FFFFFF;
	width: 100%;
}
.spacer5{
	height:10px;
}

.spacer10{
	height:10px;
}
.spacer15{
	height:10px;
}
.spacer20{
	height:10px;
}

.fullwidth{
	width: 100%;
}
.small{
	font-size: 12px;
	font-weight: bold;
}