body { 	
	text-align:left;
	vertical-align: top;
	margin:0px; 
	font-family:Arial,sans-serif;
	font-size: 12px;
	background-color:#EEE;
	color:#444;
}

a:link { color:#444; }
a:visited { color:#444; }
a:active { color:#444; }

hr{ border: 1px solid #BBB; 
	margin-left: 3px;
	margin-right: 3px;
}

form{
	margin: 0px;
	padding: 0px;
}

/**************************************************************
Make the ServiceList Table scrollable**************************
***************************************************************/

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.BodyContentChannellist {
	clear: both;
	border: 1px solid #000;
	height: 450px;
	overflow: auto;
	margin: 0px 9px 0px;
/*	width: 780px; */
}

.BodyContentChannellist{
	font-size: 12px;
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.BodyContentChannellist {
	overflow: hidden;
	width: 780px;
}

/* define width of table. IE browsers only                 */
div.BodyContentChannellist table {
	float: left;
	width: 760px;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.BodyContentChannellist table {
	width: 780px;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
	background: #0066CC;
	border: 0px;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 422px;
	overflow: auto;
	width: 100%;
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */


tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 780px; 
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
width: 764px; 
}

/****************************************
normal stylesheet-stuff******************
*****************************************/

#Main{
	width:960px;
	background-color: #AAA;
	text-align: left;
	margin: 0; 
	padding: 0;
	overflow: auto;
	vertical-align: top;
	cursor: default;
	border: 1px solid #000; 
}

#Content{
	vertical-align: middle;  
	float: left;
	background-color: #FFF;
	width: 800px;
	padding-bottom: 10px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}

#CurrentService { 
	font-family: Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
/*	vertical-align: middle;  */
	float: left;
	background-color: #0066CC;
	color: #FFFFFF;
	
	width: 55%;
	height: 20px;
}
#VolumePanel { 
	font-family:Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	
	float:left;
	background-color: #0066CC;
	color: #FFFFFF;
	
	width:25%;
	height:20px;
}

#CurrentTime { 
	font-family:Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	
	float:left;
	text-align:right;
	background-color: #0066CC;
	color: #FFFFFF;
	
	width: 15%;
	height: 20px;
}

#SignalPanel { 
	font-family:Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	
	float:left;

	background-color: #0066CC;
	color: #FFFFFF;
	text-align:right;

	width:20px;
	height:20px;
}

#RecordButton { 
	float:left;
	background-color: #0066CC;
	width:20px;
	height:20px;
}

#ServiceInfo{
	width:800px;
	height: 20px;
	border-bottom: 1px solid #000;
	float:none;
	clear:both;
	padding: 0 0 0;
	margin: 0 0 0;
	background-color: #0066CC;
	color: #FFFFFF;
}

#nav{
	float: left;
	width: 117px;
	background-color: #AAA;
}

#navTable{
	background-color: #EEE;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

#NavHd{
	background-color: #0066CC;
	color: #FFFFFF;
	font-size:10px;
	font-weight: bold;
	height: 20px;
	vertical-align: middle;
}
#RequestIndicator{
	display: inline;
	vertical-align: middle;
	font-size:14px;
	font-weight: bold;
	height:20px;
}

#EventNowNext{
}

#updates{
	visibility: hidden;
}

.navMenuPanel{
	background-color: #BBB;
}
.navMenuHeader{
	font-size: 14px;
	border-top: 1px solid #000;
	height: 20px;
}

.navMenuContent{
	font-size: 12px;
	font-weight: normal;
	background-color: #EEE;
	border: 0px;
}
.navMenuItem{
	font-size: 12px;
}

.divblock{
	width:100%;
	float:none;
	clear:both;
}

.event{
	font-size:12px;
	width:100%;
	font-weight:bold;
	background-color: #DDEEFF;
	margin-bottom: 1px;
	cursor:help;
}
.eventRA{
	font-size:12px;
	width:100%;
	font-weight:bold;
	text-align:right;
	background-color: #DDEEFF;
	margin-bottom: 1px;
	cursor:help;
}

.eventExtDesc{
	color: #777;
	background-color: #FFF;
	font-size:12px;
	margin-bottom: 1px;
	width:100%;
}

.bgMain{
	background-color: #FFF;
	width: 100%;
}
.sListHeader{
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	float:left;
	width:50%;
}
.sListSearch{
	font-size: 14px;
	float:left;
	width:50%;
	text-align: right;
}
form.sListSearch{
	text-align: right;
}
.sListSName{
	font-size: 14px;
	font-weight: bold;
	float:left;
	width:661px;
}

a.sListSLink{
	display: block;
	width: 656px;
	height: 100%;
	text-decoration: none;
}

a.sListSLink:hover{
	background-color: #DDD;
}

.sListExt{
	border-left: 1px solid #CCC;
	float:left;
	width:90px;
	text-align: right;
}
.sListEPGTime{
	float:left;
	width:60px;
	text-align: left;
}
.sListEPGTitle{
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	float: left;
	width:600px; 
	text-align: left;
}
.sListEPGDuration{
	float:left;
	width:75px;
	text-align: right;
}
.tListSName{
/*	float:left;*/
	width: 180px;
	text-align: left;
}
.tListTitle{
/*	float:left;*/
	width: 150px;
	text-align: left;
}
.tListDescr{
/*	float:left;*/
	width: 150px;
	text-align: left;
}
.tListRepeat{
/*	float:left;*/
	width: 70px;
	text-align: left;
}
.tListDuration{
/*	float:left;*/
	width: 70px;
	text-align: left;
}
.tListBegin{
/*	float:left;*/
	width: 100px;
	text-align: left;
}
.tListEnd{
/*	float:left;*/
	width: 100px;
	text-align: left;
}
.tListAfter{
/*	float:left;*/
	width: 85px;
	text-align: left;
}
.tListOption{
/*	float:left;*/
	width: 80px;
	text-align: center;
}
#TimerColor0 {
	color: #000000;
}
#TimerColor1 {
	color: #00BCBC;
	background-color: #DDD;
}
#TimerColor2 {
	color: #9F1919;
	background-color: #DDD;
}
#TimerColor3 {
	color: #00BCBC;
	background-color: #DDD;
}
