Package: enigma2-plugin-extensions-netcaster
Version: 0.1-20072203-r0
Description: Player for Network and Internet Streams
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: 3c5x9 <3c5x9@gmx.net>
Homepage: http://enigma2-plugins.schwerkraft.elitedvb.net/
Depends: enigma2(>=1.0git20071803), gst-plugin-neonhttpsrc (>=0.10.4), gst-plugin-icydemux (>= 0.10.14)
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
