Description: Plugin to handle the MSNWeather Converter and Renderer for displaying MSN-Weather in Skin
Depends: enigma2, enigma2-plugin-extensions-weatherplugin, enigma2-plugin-skincomponents-weathercomponent
