Package: enigma2-plugin-extensions-epgrefresh
Version: 0.0.8-20071118-r0
Description: Plugin to refresh EPG Data when Reciever is inactive
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2(>=2.5cvs20080416)
Source: http://www.ritzmo.de
