Package: enigma2-plugin-extensions-series2folder
Version: 1.11dev8
Description: Move series recordings to folders
Section: extra
Priority: optional
Maintainer: prl <prl@ozemail.com.au>
License: CLOSED
Architecture: all
OE: enigma2-plugin-extensions-series2folder
Depends: enigma2
Source: https://bitbucket.org/prl/series2folder
