Package: enigma2-plugin-extensions-subsdownloader2
Version: 0.31.0-20120406
Description: Subtitle Downloader
Section: extra
Priority: optional
Maintainer: Silelis
OE: enigma2-plugins-2.6cvs20090103
Homepage: http://code.google.com/p/subs-downloader/
Depends: enigma2(>2.6git20091016), gst-plugins-good-flv, enigma2-plugin-extensions-pictureplayer, enigma2-plugin-extensions-dvdplayer, python-zlib, python-io, python-shell, python-compression, python-html
Source: http://code.google.com/p/subs-downloader/
