Package: enigma2-plugin-extensions-moviecut
Version: 1.2.1-20081116
Description: Perform the cuts specified with the Cutlist editor of DM7025
Section: extra
Priority: optional
Architecture: mipsel
Maintainer: Anders Holst <aho@sics.se>
Depends: enigma2(>2.5git20081101)
