Package: enigma2-plugin-extensions-movietagger
Version: 1.2-20061213-r0
Description: add tags to recorded movies, to sort a large list of movies
Maintainer: 3c5x9 <3c5x9@gmx.net>
Depends: enigma2 (>> 1.0git20061201)
