	html, body{
		font-family: Tahoma, Sans-Serif;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		background: #555
	}
	
	a, a:visited, a:active{
		color: #485052;
		text-decoration: none;
	}
	
	
	img{
		border: 0px;
	}
	
	form{
		margin: 2px;		
	}

	#notification{		
		color: #000;
		width: 50%;
		height: 32px;
		position: absolute;
		top: 0px;
		left: 25%;		
		text-align: center;
		vertical-align: bottom;
		z-index: 2;		
	}
/***********************
 WAP
 ***********************/

	.wap a, .wap a:visited, .wap a:active{
		color: #fff;		
	}

/***********************
 GENERAL
 ***********************/
	.black{
		background: #000;
	}
	
	.odd{
		background-color: #FFF;
	}
	
	.even{
		background-color: #DDD;
	}
	
	.fullwidth {
		width: 100%;
	}
	
	.center {
		text-align: center;
	}


/***********************
 BANNER with MainMenu
 ***********************/

	#banner{
		width: 1000px;
		height: 67px;
		background: #000;
		padding-left: 5px;
		margin-bottom: 8px;

		
		
    	border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	
    	
	}
	
	#banner a, #banner a:visited, #banner a:active{
		color: #FFF;
		text-decoration: none;
	}
	
	#bannerText{
		margin-bottom: 5px;
		padding-left: 2px;
		padding-top: 6px;
	}

	#bannerLeft{
		width: 940px;
		float: left;
	}
	
	#powerState{
		border: 0px;
		margin-left: 93px;
		text-algin: right;
	}
	
	#bannerRight{
		width: 50px;
		text-align: right;
		height: 60px;
		float: left;
	}
	
	#bannerRight img{
		padding-top: 5px;
	}
	
	#current a{
		color: #FFF;
	}
	
	#current{
		width: 999px;
		background: #000;
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 1px;
		margin-bottom: 8px;
				
    	border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;    	
    	
	}
	
	.techInfo{
		font-size: 10px;
	}

	#currentTable{
		margin-bottom: 10px;
		padding-left: 2px;
		padding-top: 3px;
		width: 100%;
	}
	
	#currentDuration{
		text-align: right;
	}
	
	#mainMenu{
		background-color: #485052;
		text-align: center;
		overflow:hidden;
		background: #000; 
		margin: 0;
		padding: 0;
		width: 940px;
	}

	#mainMenu li{
		list-style: none;
		float: left;
		width: 130px;
		height: 21px;
		margin-left: 2px;
		background:#485052; 
		margin-top: 6px;
		margin-bottom: 0px;
		padding: 0px;
		
		border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;		
	}
	
	#mainMenu a:hover, #mainMenu a:hover{ background: #AAA; }
	#mainMenu li.hover, #mainMenu li.hover{ background: #AAA; }
	
	#mainMenu a{
		display:block;
		padding-top: 1px;
		padding-bottom: 3px;
				
		border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
	}

/***************
 Upper Left Nav
 ***************/

	#navContainer{
		float:left;
		width: 160px;
	}
	 
	#nav{
		width: 100%;
		height: 250px;
		background: #000;
		padding-left: 5px;
				
		border: 2px solid #000;
		border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
	}
	
	#nav a{
		display: block;
	}

	#nav{ 
		background:#FFF; 
		padding-left: 0px;
		padding-right: 0px;		
		
	}

	#navHd{
		background: #000;
		text-align: center;		
		width: 153px;
	}
	
	#navContent{
		color: #485052;
		padding-left: 5px;
	}

	#navSearch{
		width: 100%;
		height: 61px;
		background: #FFF;
		margin-top: 8px;
		
		border: 2px solid #000;
		border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
	}

	#searchHd{
		background: #000;
		text-align: center;
		width: 153px;
	}
	
	
	#navVolume{
		width: 100%;
		height: 75px;
		background: #FFF;
		margin-top: 8px;
		
		border: 2px solid #000;
		border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
	}

	#volHd{
		background: #000;
		text-align: center;
		width: 153px;
	}
	
	

/**************
 Content
 **************/
	#content{
		float: left;
		background: #FFF;
		width: 833px;
		min-height: 308px;
		margin-left: 8px;
		
		border: 2px solid #000;		
		border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
	}
	#contentHd{
		background: #000;
		width: 527px;
	}
	#contentHdExt{
		background: #000;		
		dipslay:block;
	}
	
	#contentHdExt input{
		padding: 1px;
		margin-right: 2px;
		margin-bottom: 2px;
		border: 0px;
		color: #485052;
	}
	
	#epgSearch{ width: 120px; }
	
	.boxContent{
		color: #485052;
		padding: 3px;	
	}
	
/*****************
* Subnavigation
******************/	
	.navTable{
		width: 100%;
	}
	
	
	.navTable a:hover{
		background-color:#CCC;
		color: #485052;
		display: block;
	}
	
/*****************
* ServiceList
******************/		
	.sListSName a{
		display: block;
		margin-right: 5px;
		color: #485052;
	}
	
	.sListSName a:hover{
		background-color:#CCC;
		color: #485052;
		display: block;
	}
	
	.sListEPGItem{
		font-size:12px;
		margin: 0px;
		padding: 0px;
	}
	
	.header{
		padding-top: 2px;
		padding-left: 4px;
		padding-right: 4px;
		display:block;
		height: 22px;
	}

	#container {
		margin: 0 auto;   /* align for good browsers */
		text-align: left; /* counter the body center */
		width: 1005px;
	}

	#contentTable{
		scrollbar: auto;
		width: 785px;
	}
	
	#contentServices{
		vertical-align: top;		
		width: 585px;
	}

	#contentServices table{
		scrollbar: auto;
		width: 585px;
	}

	#contentBouquets{
		border-right: 1px solid #ccc;
		vertical-align: top;		
		width: 220px;
	}

	#contentMain{
		padding: 8px;
		margin-bottom: 5px;
	}

	#contentMain {
		clear: both;
		overflow-y: auto;
		width: 815px;
		color: #485052;
	}

	#contentMain div table {
		float: left;
		width: 599px;
	}
	
	.sListItem{
		/*border-bottom: 2px solid #CCC;*/
		width: 580px;
		color: #485052;
	}
	
	.mListItem{
		/*border-bottom: 2px solid #CCC;*/
		width: 780px;
		color: #485052;
	}

/*****************
* ServiceList EPG
******************/		
	.epgStart{
		width: 50px;
		color: #485052;		
	}
	
	.epgTitle{
		width: 430px;
		color: #485052;
	}
	
	.epgLength{
		width: 100px;
		text-align: right;
		color: #485052;
	}
	
	
/*****************
* MovieList EPG
******************/	
	.mListDetail{
		font-size: 12px;
		color: #485052;
	}
	
	.mStart{
		width: 160px;	
		color: #485052;	
	}
	
	.mTitle{
		width: 650px;
		color: #485052;
	}
	
	.mLength{
		width: 90px;
		text-align: right;
		color: #485052;
	}
	
/*****************
* Tools
******************/	
	
	#tools{
		font-size: 12px;
		text-align: center;
	}
	
	#tools h1{
		font-size: 14px;
	}
	
	.tools a, .tools a:hover, .tools a:visited {
		text-decoration: underline;
	}
	
	.toolsHeader {
		color:#FFF;
		font-weight:bold;
		background-color:#000;
	}

	.tools {
		border: 1px solid #CCC;
		width: 100%;
		margin: 0px;
		padding: 0px;		
	}
	
	.tools td{
		font-size:12px;
		padding: 5px;
		vertical-align:top;	
		
	}

	.toolsElementLeft{
		font-weight: bold;
		width: 15%;
		text-align: left;
	}
	.toolsElementCenter{
		text-align: left;
	}

	.toolsElementRight{
		width: 10%;
		text-align: left;
	}

/*****************
* About
******************/	
	
	#about{
		font-size: 12px;
		text-align: center;
	}
	
	#about h1{
		font-size: 14px;
	}
	
	#about a, #about a:hover, #about a:visited{
		text-decoration: underline;
	}
	
	.aboutHeader {
		width:100%;
		color:#FFF;
		font-weight:bold;
		background-color:#000;
	}

	.about {
		border: 1px solid #CCC;
		width: 100%;
		margin: 0px;
		padding: 0px;		
	}
	
	.about td{
		font-size:12px;
	}

	.aboutElementLeft{
		font-weight:bold;
		width: 50%;
		text-align: left;
	}

	.aboutElementRight{
		width: 50%;
	}
	
	.w200h50{
		width: 200px;
		height: 50px;
	}

/*****************
* Gears
******************/	
	.gearsButton{
		width: 125px;
		height: 50px;		
	}
	
	.gearsEnabled{
		background-color: #85C247;
	}
	
	.gearsDisabled{
		background-color: #FA3;
	}
	
	.textRight{
		text-align: right;
	}
	
	.textLeft{
		text-align: left;
	}
	
	.textCenter{
		text-align: center;
	}
	
/*****************
* Timer
******************/		
	.tListItemTable{
		width: 100%;
	}

	.tListHead{
		/*background-color: #DDD; */
	}

	.tListSName{
		text-align: left;
	}

	.tListItem{
/*		background-color: #EEE; */
		font-weight: bold;
		font-size: 12px;
	}
	
	.tListTitle{
		width: 150px;
		text-align: left;
	}
	
	.tListDescr{
		width: 150px;
		text-align: left;
	}
	
	.tListRepeat{
		width: 70px;
		text-align: left;
	}
	
	.tListDuration{
		width: 70px;
		text-align: left;
	}
	
	.tListBegin{
		width: 100px;
		text-align: left;
	}
	
	.tListEnd{
		width: 100px;
		text-align: left;
	}
	
	.tListAfter{
		width: 85px;
		text-align: left;
	}
	
	.tListOption{
		width: 80px;
		text-align: center;
	}
	
	.timerState0 {
		color: #485052;
	}
	
	.timerState1 {
		color: #990000;
	}
	
	.timerState2 {
		color: #009900;
	}
	
	.timerState3 {
		color: #000099;		
	}
	
/*****************
* EPG List
******************/			
	.epgListItem{
		font-size:12px;
		font-weight: bold;
	
	}
	
/***************
* IE6 Hackstuff
***************/

	* html #banner{
		width: 1005px;
		height: 78px;
	}
	
	* html #bannerRight{
		width: 120px;
		height: 60px;		
	}

	* html #nav{
		width: 99%;
		height: 250px;
		background: #000;
		padding-left: 5px;
	}
	
	* html .navTable{
		width: 95%;
	}
