	body{
		font-family: Tahoma, Sans-Serif;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		background-color: #555
	}
	
	a, a:visited, a:active{
		color: #485052;
		text-decoration: none;
	}
	
	
	img{
		border: 0px;
	}
	
	form{
		margin: 2px;		
	}

	#notification{		
		color: #000;
		width: 600px;
		height: 32px;
		position: absolute;
		top: 0px;
		left: 200px;		
		text-align: center;
		vertical-align: bottom;
		z-index: 2;		
	}
/***********************
 WAP
 ***********************/

	.wap a, .wap a:visited, .wap a:active{
		color: #fff;		
	}

/***********************
 GENERAL
 ***********************/

	.odd{
		background-color: #FFF;
	}
	
	.even{
		background-color: #DDD;
	}
	
	.fullwidth {
		width: 100%;
	}
	
	.center {
		text-align: center;
	}


/***********************
 BANNER with MainMenu
 ***********************/

	#banner{
		width: 1000px;
		height: 70px;
		background: #000;
		padding-left: 5px;
		margin-bottom: 8px;
	}
	
	#banner a, #banner a:visited, #banner a:active{
		color: #FFF;
		text-decoration: none;
	}
	
	#banner, #banner .sb-inner { background:#000 }
	#banner .sb-border { background: #FFF }
	#bannerText{
		margin-bottom: 10px;
		padding-left: 2px;
		padding-top: 6px;
	}

	#bannerLeft{
		width: 940px;
		float: left;
	}
	
	#bannerRight{
		width: 50px;
		text-align: right;
		height: 60px;
		float: left;
	}
	

	
	#bannerRight img{
		padding-top: 5px;
	}
	
	
	#current{
		width: 999px;
		background: #000;
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 1px;
		margin-bottom: 8px;
	}

	#current, #current .sb-inner { background:#000 }
	#current .sb-border { background: #FFF }
	#currentTable{
		margin-bottom: 10px;
		padding-left: 2px;
		padding-top: 3px;
		width: 100%;
	}
	
	#currentDuration{
		text-align: right;
	}
	
	
	
	#mainMenu{
		background-color: #485052;
		text-align: center;
		overflow:hidden; 
		background: #000; 
		margin: 0; 
		padding: 0; 
		width: 940px;
	}

	#mainMenu li{
		list-style: none;
		float: left;
		width: 130px;
		height: 21px;
		margin-left: 2px;
	}
	#mainMenu li .sb-border { background:#485052; }
	#mainMenu li, #mainMenu li .sb-inner { background-color: #485052; }

	#mainMenu a{ display:block; padding: 1px; }

	#mainMenu li:hover, #mainMenu li:hover .sb-inner { background: #AAA; }
	#mainMenu li.hover, #mainMenu li.hover .sb-inner { background: #AAA; }

/***************
 Upper Left Nav
 ***************/

	#navContainer{
		float:left;
		width: 160px;
	}
	 
	#nav{
		width: 100%;
		height: 250px;
		background: #000;
		padding-left: 5px;
	}
	
	#nav a{
		display: block;
	}

	#nav, #nav .sb-inner { 
		background:#FFF; 
		padding-left: 2px;
		padding-right: 2px;
	}
	#nav .sb-border { background:#000; }

	#navHd, #navHd .sb-inner{
		background: #000;
		text-align: center;
	}
	
	#navContent{
		color: #485052;
		padding-left: 5px;
	}

	#navSearch{
		width: 100%;
		height: 61px;
		background: #000;
		padding-left: 5px;
	}

	#navSearch, #navSearch .sb-inner { 
		background:#FFF; 
		padding-left: 2px;
		padding-right: 2px;
	}
	#navSearch .sb-border { background:#000; }

	#searchHd, #searchHd .sb-inner{
		background: #000;
		text-align: center;
	}
	
	
	#navVolume{
		width: 100%;
		height: 75px;
		background: #000;
		padding-left: 0px;
	}

	#navVolume, #navVolume .sb-inner { 
		background:#FFF; 
		padding-left: 2px;
		padding-right: 2px;
	}
	#navVolume .sb-border { background:#000; }

	#volHd, #volHd .sb-inner{
		background: #000;
		text-align: center;
	}
	
	

/**************
 Content
 **************/
	#content{
		float: left;
		background: #000;
		width: 833px;
		min-height: 308px;
		margin-left: 8px;
	}

	#content, #content .sb-inner { background:#FFF; padding: 2px}
	#content .sb-border { background:#000; }

	#contentHd, #contentHd .sb-inner{
		background: #000;
		color: #fff;
	}

	#epgSearch{ width: 120px; }
	
	.boxContent{
		color: #485052;
		padding: 3px;	
	}
	
/*****************
* Subnavigation
******************/	
	.navTable{
		width: 100%;
	}
	
	
	.navTable a:hover{
		background-color:#CCC;
		color: #485052;
		display: block;
	}
	
/*****************
* ServiceList
******************/		
	.sListSName a{
		display: block;
		margin-right: 5px;
		color: #485052;
	}
	
	.sListSName a:hover{
		background-color:#CCC;
		color: #485052;
		display: block;
	}
	
	.sListEPGItem{
		font-size:12px;
		margin: 0px;
		padding: 0px;
	}
	
	.header{
		padding-top: 2px;
		padding-left: 4px;
		padding-right: 4px;
		display:block;
		height: 22px;
	}

	#container {
		margin: 0 auto;   /* align for good browsers */
		text-align: left; /* counter the body center */
		width: 1005px;
	}

	#contentTable{
		scrollbar: auto;
		width: 785px;
	}
	
	#contentTable div{
		width: auto;
		overflow: auto;
	}

	#contentMain{
		padding: 8px;
		margin-bottom: 5px;
	}

	#contentMain {
		clear: both;
		/*overflow-x: hidden;*/
		overflow-y: auto;
		width: 815px;
		color: #485052;
	}

	#contentMain div table {
		float: left;
		width: 799px;
	}
	
	.sListItem{
		/*border-bottom: 2px solid #CCC;*/
		width: 780px;
		color: #485052;
	}

/*****************
* ServiceList EPG
******************/		
	.epgStart{
		width: 50px;
		color: #485052;		
	}
	
	.epgTitle{
		width: 680px;
		color: #485052;
	}
	
	.epgLength{
		width: 50px;
		text-align: right;
		color: #485052;
	}
	
	
/*****************
* MovieList EPG
******************/	
	.mListDetail{
		font-size: 12px;
		color: #485052;
	}
	
	.mStart{
		width: 160px;	
		color: #485052;	
	}
	
	.mTitle{
		width: 650px;
		color: #485052;
	}
	
	.mLength{
		width: 90px;
		text-align: right;
		color: #485052;
	}
	
/*****************
* About
******************/	
	
	#about{
		font-size: 12px;
		text-align: center;
	}
	
	#about h1{
		font-size: 14px;
	}
	
	#about a, #about a:hover, #about a:visited{
		text-decoration: underline;
	}
	
	.aboutHeader {
		width:100%;
		color:#FFF;
		font-weight:bold;
		background-color:#000;
	}

	.about {
		border: 1px solid #CCC;
		width: 100%;
		margin: 0px;
		padding: 0px;		
	}
	
	.about td{
		font-size:12px;
	}

	.aboutElementLeft{
		font-weight:bold;
		width: 50%;
		text-align: left;
	}

	.aboutElementRight{
		width: 50%;
	}
	
	.w200h50{
		width: 200px;
		height: 50px;
	}

/*****************
* Gears
******************/	
	.gearsButton{
		width: 125px;
		height: 50px;		
	}
	
	.gearsEnabled{
		background-color: #85C247;
	}
	
	.gearsDisabled{
		background-color: #FA3;
	}
	
	.textRight{
		text-align: right;
	}
	
	.textLeft{
		text-align: left;
	}
	
	.textCenter{
		text-align: center;
	}
	
/*****************
* Timer
******************/		
	.tListItemTable{
		width: 100%;
	}

	.tListHead{
		/*background-color: #DDD; */
	}

	.tListSName{
		text-align: left;
	}

	.tListItem{
/*		background-color: #EEE; */
		font-weight: bold;
		font-size: 12px;
	}
	
	.tListTitle{
		width: 150px;
		text-align: left;
	}
	
	.tListDescr{
		width: 150px;
		text-align: left;
	}
	
	.tListRepeat{
		width: 70px;
		text-align: left;
	}
	
	.tListDuration{
		width: 70px;
		text-align: left;
	}
	
	.tListBegin{
		width: 100px;
		text-align: left;
	}
	
	.tListEnd{
		width: 100px;
		text-align: left;
	}
	
	.tListAfter{
		width: 85px;
		text-align: left;
	}
	
	.tListOption{
		width: 80px;
		text-align: center;
	}
	
	.timerState0 {
		color: #485052;
	}
	
	.timerState1 {
		color: #990000;
	}
	
	.timerState2 {
		color: #009900;
	}
	
	.timerState3 {
		color: #000099;		
	}
	
/*****************
* EPG List
******************/			
	.epgListItem{
		font-size:12px;
		font-weight: bold;
	
	}
	
/***************
* IE6 Hackstuff
***************/

	* html #banner{
		width: 1005px;
		height: 78px;
	}
	
	* html #bannerRight{
		width: 120px;
		height: 60px;		
	}

	* html #nav{
		width: 99%;
		height: 250px;
		background: #000;
		padding-left: 5px;
	}
	
	* html .navTable{
		width: 95%;
	}
