html,body {
	font-family: Tahoma, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background: #555
}

input,select {
	font-family: Tahoma, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #485052;
	background-color: #fff;
	color: #485052
}

a,a:visited,a:active {
	color: #485052;
	text-decoration: none;
}

img {
	border: 0px;
}

form {
	margin: 2px;
}

#notification {
	color: #000;
	width: 50%;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 25%;
	text-align: center;
	vertical-align: bottom;
	z-index: 2;
}
/***********************
 WAP
 ***********************/
.wap a,.wap a:visited,.wap a:active {
	color: #fff;
}

/***********************
 GENERAL
 ***********************/
.black {
	background: #000;
}

.odd {
	background-color: #FFF;
}

.even {
	background-color: #DDD;
}

.fullwidth {
	width: 100%;
}

.center {
	text-align: center;
}

.small {
	font-size: 11px;
	font-weight: normal
}

a.underline {
	text-decoration: underline;
}

.right {
	text-align: right;
}

.block {
	display: block;
}

.bottom {
	vertical-align: bottom;
}

/***********************
 BANNER with MainMenu
 ***********************/
#banner {
	width: 1000px;
	height: 67px;
	background: #000;
	padding-left: 5px;
	margin-bottom: 8px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#banner a,#banner a:visited,#banner a:active {
	color: #FFF;
	text-decoration: none;
}

#bannerText {
	margin-bottom: 5px;
	padding-left: 2px;
	padding-top: 6px;
}

#bannerLeft {
	width: 940px;
	float: left;
}

#powerState {
	border: 0px;
	margin-left: 93px;
	text-align: right;
}

#bannerRight {
	width: 50px;
	text-align: right;
	height: 60px;
	float: left;
}

#bannerRight img {
	padding-top: 5px;
}

#current a {
	color: #FFF;
}

#current {
	width: 999px;
	background: #000;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	margin-bottom: 8px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.techInfo {
	font-size: 10px;
}

#currentTable {
	margin-bottom: 10px;
	padding-left: 2px;
	padding-top: 3px;
	width: 100%;
}

#currentDuration {
	text-align: right;
}

.currentBulletToggle{
	vertical-align: middle;
}

#mainMenu {
	background-color: #485052;
	text-align: center;
	overflow: hidden;
	background: #000;
	margin: 0;
	padding: 0;
	width: 940px;
}

#mainMenu li {
	list-style: none;
	float: left;
	width: 130px;
	height: 21px;
	margin-left: 2px;
	background: #485052;
	margin-top: 6px;
	margin-bottom: 0px;
	padding: 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#mainMenu a:hover,#mainMenu a:hover {
	background: #AAA;
}

#mainMenu li.hover,#mainMenu li.hover {
	background: #AAA;
}

#mainMenu a {
	display: block;
	padding-top: 1px;
	padding-bottom: 3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#instantRecordMenu {
	z-index: 1000;
	position : relative;
	top: 5px;
	right: 165px;
	background: #FFF;
	color: #485052;
	width: 205px;
/*	height: 100px; */
	border: 1px solid #000;
	opacity: 0.98;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: left;
}

#instantRecordMenu button{
	width: 200px;
	text-align: center;
}

/***************
 Upper Left Nav
 ***************/
#navContainer {
	float: left;
	width: 160px;
}

#nav {
	width: 100%;
	height: 250px;
	background: #000;
	padding-left: 5px;
	border: 2px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#nav a {
	display: block;
}

#nav {
	background: #FFF;
	padding-left: 0px;
	padding-right: 0px;
}

#navHd {
	background: #000;
	text-align: center;
	width: 153px;
}

#navContent {
	color: #485052;
	padding-left: 5px;
}

#navSearch {
	width: 100%;
	height: 61px;
	background: #FFF;
	margin-top: 8px;
	border: 2px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#searchHd {
	background: #000;
	text-align: center;
	width: 153px;
}

#navVolume {
	width: 100%;
	height: 75px;
	background: #FFF;
	margin-top: 8px;
	border: 2px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#volHd {
	background: #000;
	text-align: center;
	width: 153px;
}

/**************
 Content
 **************/
#content {
	float: left;
	background: #FFF;
	width: 833px;
	min-height: 308px;
	margin-left: 8px;
	border: 2px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#contentHd {
	background: #000;
	width: 527px;
}

#contentHdExt {
	background: #000;
	dipslay: block;
}

#contentHdExt input {
	padding: 1px;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 0px;
	color: #485052;
}

#epgSearch {
	width: 120px;
}

.boxContent {
	color: #485052;
	padding: 3px;
}

/*****************
* Subnavigation
******************/
.navTable {
	width: 100%;
}

.navTable a:hover {
	background-color: #CCC;
	color: #485052;
	display: block;
}

/*****************
* ServiceList
******************/
.sListSName a {
	display: block;
	margin-right: 5px;
	color: #485052;
}

.sListSName a:hover {
	background-color: #CCC;
	color: #485052;
	display: block;
}

.sListMarker{
	background-color: #485052;
	color:#FFF;
}

.sListEPGItem {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.sListSProgress {
	display: inline-block;
	margin: 0px;
	border: 1px solid #485052;
	width: 50px;
	height: 10px;
	padding: 1px;
}

.sListSProgressBar {
	display: inline-block;
	margin: 0;
	background-color: #00C6ED;
	width: 0%;
	height: 100%;
}

table.sListExtEpg {
	width: 580px;
	margin: 0;
	padding: 0;
}

.header {
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	display: block;
	height: 22px;
}

#container {
	margin: 0 auto; /* align for good browsers */
	text-align: left; /* counter the body center */
	width: 1005px;
}

#contentTable {
	scrollbar: auto;
	width: 785px;
}

#contentServices {
	vertical-align: top;
	width: 585px;
}

#contentServices table {
	scrollbar: auto;
	width: 585px;
}

#contentBouquets {
	border-right: 1px solid #ccc;
	vertical-align: top;
	width: 220px;
}

#contentMain {
	padding: 8px;
	margin-bottom: 5px;
}

#contentMain {
	clear: both;
	overflow-y: auto;
	width: 815px;
	color: #485052;
}

#contentMain div table {
	float: left;
	width: 599px;
}

.sListItem {
	width: 585px;
	color: #485052;
}

.mListItem { /*border-bottom: 2px solid #CCC;*/
	width: 780px;
	color: #485052;
}

/*****************
* MediaPlayer
******************/
.mpListItem {mListItem;
	
}

/*****************
* ServiceList EPG
******************/
.epgStart {
	width: 50px;
	color: #485052;
}

.epgTitle {
	width: 420px;
	color: #485052;
}

.epgLength {
	width: 100px;
	text-align: right;
	color: #485052;
}

/*****************
* MovieList EPG
******************/
.mListDetail {
	font-size: 12px;
	color: #485052;
}

.mStart {
	width: 160px;
	color: #485052;
}

.mTitle {
	width: 650px;
	color: #485052;
}

.mLength {
	width: 90px;
	text-align: right;
	color: #485052;
}

/*****************
* Tools
******************/
#tools {
	font-size: 12px;
	text-align: center;
}

#tools h1 {
	font-size: 14px;
}

.tools a,.tools a:hover,.tools a:visited {
	text-decoration: underline;
}

.toolsHeader {
	color: #FFF;
	font-weight: bold;
	background-color: #000;
}

.tools {
	border: 1px solid #CCC;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tools td {
	font-size: 12px;
	padding: 5px;
	vertical-align: top;
}

.toolsElementLeft {
	font-weight: bold;
	width: 15%;
	text-align: left;
}

.toolsElementCenter {
	text-align: left;
}

.toolsElementRight {
	width: 10%;
	text-align: left;
}

/*****************
* About
******************/
#about {
	font-size: 12px;
	text-align: center;
}

#about h1 {
	font-size: 14px;
}

#about a,#about a:hover,#about a:visited {
	text-decoration: underline;
}

.aboutHeader {
	width: 100%;
	color: #FFF;
	font-weight: bold;
	background-color: #000;
}

.about {
	border: 1px solid #CCC;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.about td {
	font-size: 12px;
}

.aboutElementLeft {
	font-weight: bold;
	width: 50%;
	text-align: left;
}

.aboutElementRight {
	width: 50%;
}

.w200h50 {
	width: 200px;
	height: 50px;
}

/*****************
* Gears
******************/
.gearsButton {
	width: 125px;
	height: 50px;
}

.gearsEnabled {
	background-color: #85C247;
}

.gearsDisabled {
	background-color: #FA3;
}

.textRight {
	text-align: right;
}

.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

/*****************
* Timer
******************/
.tListItemTable {
	width: 100%;
}

.tListHead { /*background-color: #DDD; */
	
}

.tListSName {
	text-align: left;
}

.tListItem {
	font-weight: bold;
	font-size: 13px;
}

.tListTitle {
	width: 150px;
	text-align: left;
}

.tListDescr {
	width: 150px;
	text-align: left;
}

.tListRepeat {
	width: 70px;
	text-align: left;
}

.tListDuration {
	width: 70px;
	text-align: left;
}

.tListBegin {
	width: 100px;
	text-align: left;
}

.tListEnd {
	width: 100px;
	text-align: left;
}

.tListAfter {
	width: 85px;
	text-align: left;
}

.tListOption {
	width: 80px;
	text-align: center;
}

.timerState0 {
	color: #485052;
}

.timerState1 {
	color: #990000;
}

.timerState2 {
	color: #009900;
}

.timerState3 {
	color: #000099;
}

a.tEditTag {
	margin: 3px 0px 3px 0px;
	padding: 3px;
	display: inline-block;
	border: 1px solid #CCC;
}

a.selected {
	background: #FFFF99;
}

/*****************
* EPG List
******************/
.epgListItem {
	font-size: 12px;
	font-weight: bold;
}

/***************
* IE6 Hackstuff
***************/
* html #banner {
	width: 1005px;
	height: 78px;
}

* html #bannerRight {
	width: 120px;
	height: 60px;
}

* html #nav {
	width: 99%;
	height: 250px;
	background: #000;
	padding-left: 5px;
}

* html .navTable {
	width: 95%;
}

/* DATEPICKER */
/* This is a very basic stylesheet for the date-picker. Feel free to create your own. */

/* Hide the input by using a className */
input.fd-hidden-input,select.fd-hidden-input {
	display: none;
}
/* Screen reader class - hides it from the visual display */
.fd-screen-reader {
	position: absolute;
	left: -999em;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	outline: 0 none;
	-moz-outline: 0 none;
}
/* Disabled datePicker and activation button */
a.dp-disabled,.dp-disabled table {
	opacity: .3 !important;
	filter: alpha(opacity = 40);
}

.dp-disabled,.dp-disabled td,.dp-disabled th,.dp-disabled th span {
	cursor: default !important;
}

a.date-picker-control:focus,div.datePicker table td:focus {
	overflow: hidden;
	outline: 0 none;
	-moz-outline: 0 none;
	color: rgb(100, 130, 170) !important;
}
/* The wrapper div */
div.datePicker {
	position: absolute;
	z-index: 9999;
	text-align: center;
	font-size: 11px;
	background: transparent;
	color: #485052;
	padding: 0px;
	/* Mozilla & Webkit extensions to stop text-selection. */
	-moz-user-select: none;
	-khtml-user-select: none;
}
/* Styles for the static datePickers */
div.static-datepicker {
	position: relative;
	top: 5px;
	left: 0;
}

div.datePicker table {
	width: auto;
	height: auto;
	border-collapse: separate;
	border-spacing: 1px;
	background: #fff;
}
/* Draggable datepickers */
div.datePicker tfoot th.drag-enabled,div.datePicker thead th.drag-enabled,div.datePicker thead th.drag-enabled span
	{
	cursor: move;
}
/* The iframe hack to cover selectlists in Internet Explorer <= v6 */
iframe.iehack {
	position: absolute;
	background: #fff;
	z-index: 9998;
	padding: 0;
	border: 0;
	display: none;
	margin: 0;
}
/* The "button" created beside each input for non-static datePickers */
a.date-picker-control:link,a.date-picker-control:visited {
	position: relative;
	/* Moz & FF */
	display: -moz-inline-stack;
	border: 0 none;
	padding: 0;
	margin: 0 0 0 4px;
	background: transparent url(/web-data/lib/datepicker/media/cal-grey.gif)
		no-repeat 50% 50%;
	min-width: 16px;
	line-height: 1;
	cursor: pointer;
	visibility: visible;
	text-decoration: none;
	vertical-align: top;
}

a.date-picker-control:hover,a.date-picker-control:active,a.date-picker-control:focus,a.dp-button-active:link,a.dp-button-active:visited,a.dp-button-active:hover,a.dp-button-active:active,a.dp-button-active:focus
	{
	background: transparent url(/web-data/lib/datepicker/media/cal.gif)
		no-repeat 50% 50% !important;
}
/* Feed IE6 the following rule, IE7 should handle the min-width declared above */
* html a.date-picker-control {
	width: 16px;
}
/* IE, Safari & Opera. Seperate CSS rule seems to be required. */
a.date-picker-control {
	display: inline-block;
}

a.date-picker-control span {
	display: block;
	width: 16px;
	height: 16px;
	margin: auto 0;
}
/* Default "button" styles */
div.datePicker thead th span {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 1em;
	border: 0 none;
	background: transparent;
	font-weight: bold;
	cursor: pointer;
}
/* The "month, year" display */
div.datePicker th span.month-display,div.datePicker th span.year-display
	{
	display: inline;
	text-transform: uppercase;
	letter-spacing: 1px;
	/*font: normal 1.2em Verdana, Sans-Serif;*/
	font-size: 13px;
	cursor: default;
}
/* Next & Previous (month, year) buttons */
div.datePicker th span.prev-but,div.datePicker th span.next-but {
	font-weight: lighter;
	font-size: 13px;
	/*font-family: georgia, times new roman, palatino, times, bookman, serif;*/
	cursor: pointer !important;
}
/* Hover effect for Next & Previous (month, year) buttons */
div.datePicker th span.prev-but:hover,div.datePicker th span.next-but:hover,div.datePicker th span.today-but:hover
	{
	color: #a84444;
}
/* Today button */
div.datePicker th span.today-but {
	text-align: center;
	margin: 0;
	/*font: normal 1em Verdana, Sans-Serif;*/
	font-size: 13px;
	width: 100%;
	text-decoration: none;
	padding-top: 0.3em;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer !important
}
/* Disabled buttons */
div.dp-disabled th span.prev-but,div.dp-disabled th span.next-but,div.dp-disabled th span.today-but,div.dp-disabled th span.prev-but:hover,div.dp-disabled th span.next-but:hover,div.dp-disabled th span.today-but:hover,div.datePicker th span.prev-but.fd-disabled:hover,div.datePicker th span.next-but.fd-disabled:hover,div.datePicker thead th span.fd-disabled,div.datePicker th span.fd-disabled:hover
	{
	color: #aaa;
	cursor: default !important;
	opacity: 1;
}
/* The mon, tue, wed etc day buttons */
div.datePicker th span.fd-day-header {
	text-align: center;
	margin: 0;
	/*font: 900 1em Verdana, Sans-Serif;*/
	font-size: 11px;
	text-decoration: none;
	text-transform: lowercase;
	cursor: pointer;
}
/* The table */
div.datePicker table {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	background: #fff;
	text-align: center;
	width: auto;
	empty-cells: show;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-box-shadow: 0px 0px 5px #aaa;
}
/* Common TD & TH styling */
div.datePicker table tbody th,div.datePicker table td {
	border: 0 none;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #fff;
	/*url(/web-data/lib/datepicker/media/gradient-e5e5e5-ffffff.gif) repeat-x 0 -40px;*/
	width: 2em;
	height: 2em;
	overflow: hidden;
	outline: transparent none 0px;
	border: 1px solid #ccc;
	text-transform: none;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

div.datePicker table td:focus,div.datePicker table td:active {
	outline: 0 none red;
}

div.datePicker table th {
	border: 0 none;
	padding: 0;
	font-weight: bold;
	color: #222;
	text-align: center;
	vertical-align: middle;
	text-transform: none;
}

div.datePicker table thead th {
	height: auto !important;
}

div.datePicker table tbody th {
	border: 1px solid #dcdcdc;
}
/* Week number display */
div.datePicker table thead th.date-picker-week-header,div.datePicker table tbody th.date-picker-week-header
	{
	background: url(/web-data/lib/datepicker/media/backstripes.gif);
	color: #ccc;
	font-style: oblique;
	background: transparent;
	cursor: default;
}

div.datePicker table thead th.date-picker-week-header {
	cursor: help;
	border: 0 none;
	padding: 0 0 0.2em 0;
}
/* tfoot status bar */
div.datePicker tfoot th {
	cursor: default;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border: 0 none;
	background: #fff;
	height: 2.8em;
}
/* TD cell that is _not_ used to display a day of the month */
div.datePicker table tbody td.date-picker-unused {
	background: #fff url(/web-data/lib/datepicker/media/backstripes.gif);
	border-color: #dcdcdc;
	cursor: default !important;
}

/* The TH cell used to display the "month, year" title */
div.datePicker table thead th.date-picker-title {
	width: auto;
	height: auto;
	padding: 0.4em 0;
	background: #000;
	color: #FFF;
}
/* The "mon tue wed etc" day header styles */
div.datePicker table thead th.date-picker-day-header {
	text-transform: lowercase;
	cursor: help;
	height: auto;
}
/* The "todays date" style */
div.datePicker table tbody td.date-picker-today {
	background: #fff url(/web-data/lib/datepicker/media/bullet2.gif)
		no-repeat 0 0;
	color: rgb(100, 100, 100) !important;
}

div.datePicker table tbody td.month-out.date-picker-highlight {
	color: #aa8866 !important;
}
/* The "highlight days" style */
div.datePicker table tbody td.date-picker-highlight,div.datePicker table thead th.date-picker-highlight
	{
	color: #a86666 !important;
}
/* The "active cursor" style */
div.datePicker table tbody td.date-picker-hover {
	background: #fff url(/web-data/lib/datepicker/media/bg_header.jpg)
		no-repeat 0 0;
	cursor: pointer;
	border-color: rgb(100, 130, 170) !important;
	color: rgb(100, 130, 170);
	text-shadow: 0px 1px 1px #fff;
}
/* The "disabled days" style */
div.datePicker table tbody td.day-disabled {
	background: #fff url(/web-data/lib/datepicker/media/backstripes.gif)
		no-repeat 0 0;
	color: #aaa !important;
	cursor: default;
	text-decoration: line-through;
}

div.datePicker table tbody td.month-out {
	border-color: #ddd;
	color: #aaa !important;
	background: #fff
		url(/web-data/lib/datepicker/media/gradient-e5e5e5-ffffff.gif)
		repeat-x 0 -40px;
}
/* The "selected date" style */
div.datePicker table tbody td.date-picker-selected-date {
	color: #333 !important;
	border-color: #333 !important;
}
/* The date "out of range" style */
div.datePicker table tbody td.out-of-range,div.datePicker table tbody td.not-selectable
	{
	color: #ccc !important;
	font-style: oblique;
	background: #fcfcfc !important;
	cursor: default !important;
}
/* Week number "out of range" && "month-out" styles */
div.datePicker table tbody th.month-out,div.datePicker table tbody th.out-of-range
	{
	color: #aaa !important;
	font-style: oblique;
	background: #fcfcfc !important;
}
/* week numbers "out of range" */
div.datePicker table tbody th.out-of-range {
	opacity: 0.6;
	filter: alpha(opacity =         60);
}
/* Used when the entire grid is full but the next/prev months dates cannot be selected */
div.datePicker table tbody td.not-selectable {
	opacity: 0.8;
	filter: alpha(opacity =         80);
}

div.datePicker table tbody tr {
	display: table-row;
}

div.datePicker table tfoot sup {
	letter-spacing: normal;
	text-transform: none;
	height: 0;
	line-height: 1;
	position: relative;
	top: -0.2em;
	vertical-align: baseline !important;
	vertical-align: top;
}

div.datePicker table thead th.date-picker-day-header,div.datePicker table thead span.month-display,div.datePicker table thead span.year-display
	{ /*text-shadow: 0px 1px 1px #fff;*/
	
}
/* You can add focus effects (for everything but IE6) like so: */
div.datepicker-focus table.datePickerTable {
	border-color: #999 !important;
}

div.datePicker table tbody tr td:focus,div.datePicker table tbody td.date-picker-hover
	{
	overflow: hidden;
	outline: 0px solid #ff0000;
	-moz-outline: 0 none;
	-o-highlight: 0 none;
	color: rgb(100, 130, 170) !important;
}

div.static-datepicker table {
	-moz-box-shadow: 0 0 0 transparent;
}

div.datepicker-focus table {
	/* Naughty, naughty - but we add a highlight using the table's border colour */
	outline: none;
	-moz-box-shadow: 0px 0px 5px #aaa;
}

*:-o-prefocus {
	outline: -o-highlight-border;
}

/* INTERNET EXPLORER WOES
   ======================
   
   Hover Effects
   -------------
   
   IE cannot deal with :focus on the TR so the datePicker script adds the class "dp-row-highlight" to the
   row currently being hovered over. This should enable you to add hover effects if desired.
   
   e.g. the following rule will highlight the cell borders in another colour when a row is moused over,
   it looks like crap though so I didn't include the rule within the demo:
   
div.datePicker table tbody tr.dp-row-highlight td
        {
        border-color:#aaa;
        }
*/

/* Remove the images for Internet Explorer <= v6 using the "* html" hack  
   This is a workaround for a nasty IE6 bug that never caches background images on dynamically created DOM nodes
   which means that they are downloaded for every cell for every table - nasty! */
* html div.datePicker table td {
	background-image: none;
}

* html div.datePicker table td.date-picker-unused {
	background: #f2f2f2;
}

body.fd-drag-active {
	-webkit-user-select: none;
}
/* Chrome has problems with the -webkit-box-shadow and -webkit-border-radius styles together 
   Remove one or the other to get things looking less ugly */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	div.datePicker table { /*border-spacing:0.3em;*/
		/* Naughty, naughty */
		-webkit-box-shadow: 0px 0px 5px #aaa;
		-webkit-border-radius: 3px;
	}
	div.static-datepicker table {
		-webkit-box-shadow: 0 0 0 transparent;
	}
	div.datepicker-focus table {
		-webkit-box-shadow: 0px 0px 5px #aaa;
	}
	div.datePicker table td,div.datePicker table tbody th {
		padding: 0.1em;
		-webkit-border-radius: 2px;
	}
	div.datePicker table tbody td.date-picker-hover {
		-webkit-box-shadow: 0px 0px 1px rgb(100, 130, 170);
	}
}