html, body {
	font-family: Tahoma, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background: #555
}

table {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	border-spacing: 0;
	border-collapse: collapse
}

input[type="text"], input[type="password"], select {
	font-family: Tahoma, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #485052;
	background-color: #fff;
	color: #485052
}

a, a:visited, a:active {
	color: #485052;
	text-decoration: none
}

img {
	border: 0
}

form {
	margin: 2px
}

#notification {
	color: #000;
	width: 50%;
	height: 32px;
	position: absolute;
	top: 0;
	left: 25%;
	text-align: center;
	vertical-align: bottom;
	z-index: 2
}

.wap a, .wap a:visited, .wap a:active {
	color: #fff
}

.rounded {
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	behavior: url(/web-data/PIE.htc)
}

.roundedNav {
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.black {
	background: #000;
	color: #FFF
}

.odd {
	background-color: #FFF
}

.even {
	background-color: #DDD
}

.fullwidth {
	width: 100%
}

.center {
	text-align: center
}

.oneliner {
	position: absolute;
	top: 50%;
	height: 16px;
	margin-top: -8px
}

.small {
	font-size: 11px;
	font-weight: normal
}

a.underline {
	text-decoration: underline
}

.right {
	text-align: right
}

.block {
	display: block
}

.bottom {
	vertical-align: bottom
}

.leftCol {
	float: left;
	width: 50%
}

.rightCol {
	float: right;
	width: 50%
}

.right {
	text-align: right
}

.liHeader {
	border-top: #000;
	border-bottom: #000
}

.group {
	position: relative !important;
}

.right-aligned {
	left: auto !important;
	right: 0 !important;
}

.dropdown-menu {
	min-width: 160px;
	position: absolute !important;
	top: 100%;
	left: 0;
	list-style: none outside none;
	padding: 5px 0px;
	z-index: 1000;
	background: #FFF !important;
	border: 1px solid #ccc !important;
	color: #444 !important;
	text-align: left;
	border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176) !important;
}

.dropdown-menu li {
	float: none !important;
}

td.screenShot {
	text-align: center;
}

td.screenShot img {
	border: 1px solid #555;
	background: #DDD;;
	width: 100%;
}

#banner {
	width: 1000px;
	height: 67px;
	background: #000;
	padding-left: 5px;
	margin-bottom: 8px;
	position: relative
}

#banner a, #banner a:visited, #banner a:active {
	color: #FFF;
	text-decoration: none
}

#bannerText {
	padding-left: 2px
}

#bannerLeft {
	width: 940px;
	float: left
}

.bannerHeader {
	background-image: url("/web-data/img/dreamboxweb.png");
	width: 780px;
	height: 16px;
	margin: 7px;
	padding: 0
}

#ajaxLoad {
	position: absolute;
	top: 2px;
	right: 78px;
	z-index: 10;
	background-image: url("/web-data/gfx/ajaxload_banner.gif");
	width: 31px;
	height: 31px;
}

#powerState {
	border: 0;
	margin-left: 93px;
	text-align: right
}

#bannerRight {
	width: 50px;
	text-align: right;
	height: 60px;
	float: left
}

#bannerRight img {
	padding-top: 5px
}

#current {
	width: 999px;
	background: #000;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	margin-bottom: 8px;
	position: relative
}

.techInfo {
	font-size: 10px
}

#current a {
	background: #000;
	color: #FFF
}

#current img {
	vertical-align: bottom
}

#currentTable {
	width: 100%
}

#currentDuration {
	text-align: right
}

#mainMenu {
	background-color: #485052;
	text-align: center;
	overflow: hidden;
	background: #000;
	margin: 0;
	padding: 0;
	width: 940px
}

#mainMenu li {
	list-style: none;
	float: left;
	width: 130px;
	height: 21px;
	margin-left: 2px;
	background: #485052;
	margin-top: 6px;
	margin-bottom: 0;
	padding: 0;
	position: relative;
	z-index: 2
}

#mainMenu a:hover, #mainMenu a:hover {
	background: #AAA;
	position: relative;
	z-index: 3
}

#mainMenu li.hover {
	background: #AAA;
	position: relative;
	z-index: 3
}

#mainMenu a {
	display: block;
	height: 100%
}

#mainMenu span {
	display: block;
	padding-top: 3px
}

#mainMenu li.navselected {
	background: #AAA;
	position: relative;
	z-index: 3
}

#menuPower {
	display: none;
}

#instantRecordMenu li {
	margin: 3px;
}

#instantRecordMenu button {
	width: 200px;
	text-align: center
}

#navContainer {
	float: left;
	width: 160px
}

#nav {
	width: 100%;
	height: 250px;
	background: #000;
	padding-left: 5px;
	border: 2px solid #000;
	position: relative
}

#nav a {
	display: block;
	height: 20px;
	padding: 2px
}

#nav a:hover {
	padding: 1px;
	border: 1px solid #AAA
}

#nav li div {
	display: table-cell;
	height: 20px;
	vertical-align: middle
}

#nav {
	background: #FFF;
	padding-left: 0;
	padding-right: 0
}

#navHd {
	background: #000;
	text-align: center;
	width: 153px
}

#navHd div {
	background-color: #000;
}

#navContent {
	color: #485052;
	padding: 0px
}

#navExternalsContainer {
	margin: 0;
	padding: 0
}

#navSearch {
	width: 100%;
	height: 61px;
	background: #FFF;
	margin-top: 8px;
	border: 2px solid #000;
	position: relative
}

#searchHd {
	background: #000;
	text-align: center;
	width: 153px
}

#navVolume {
	width: 100%;
	height: 75px;
	background: #FFF;
	margin-top: 8px;
	border: 2px solid #000;
	position: relative
}

#volHd {
	background: #000;
	text-align: center;
	width: 153px
}

#content {
	float: left;
	background: #FFF;
	width: 833px;
	min-height: 308px;
	margin-left: 8px;
	border: 2px solid #000;
	position: relative
}

table.contentHd {
	background-color: #000;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#contentHd {
	background: #000;
	width: 527px
}

#contentHd div {
	background: #000;
}

#contentHdExt {
	background: #000;
	dipslay: block
}

#contentHdExt input {
	padding: 1px;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 0;
	color: #485052
}

#contentHdExt li div {
	padding: 1px;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 0;
	color: #485052
}

#epgSearch {
	width: 120px
}

.boxContent {
	color: #485052;
	padding: 3px
}

.navTable {
	width: 100%;
	margin: 0;
	padding: 0
}

.navTable li {
	list-style: none;
	margin: 0px;
	padding: 0;
	position: relative;
	display: block
}

.navTable a:hover {
	background-color: #DDD;
	color: #485052;
	display: block
}

.bListSLink {
	display: block;
	margin-right: 5px;
	color: #485052;
	padding: 4px;
}

.bListSLink:hover {
	display: block;
	background-color: #DDD;
	color: #485052;
	padding: 3px;
	border: 1px solid #AAA
}

a.sListSLink {
	color: #485052;
	display: block;
	font-size: 15px;
	padding: 4px;
	display: block;
	width: 99%;
}

a.sListSLink:hover {
	display: block;
	background-color: #DDD;
	color: #485052;
	padding: 3px;
	border: 1px solid #AAA
}

.sListMarker {
	background-color: #485052;
	color: #FFF
}

.sListEPGItem {
	font-size: 12px;
	margin: 0;
	padding: 0
}

.sListProgress {
	width: 60px;
	float: left
}

.sListSActions {
	position: absolute;
	right: 0px;
	top: 5px;
}

.sListSProgress {
	display: inline-block;
	border: 1px solid #485052;
	width: 50px;
	height: 10px;
	padding: 1px
}

.sListSProgressBar {
	margin: 0;
	background-color: #60aef2;
	width: 0;
	height: 100%
}

.sListExtEpg {
	display: block;
	padding: 1px
}

.header {
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	display: block;
	height: 22px
}

#container {
	margin: 0 auto;
	text-align: left;
	width: 1005px
}

#contentTable {
	scrollbar: auto;
	width: 785px;
	margin: 0 auto 0 auto;
}

#contentServices {
	vertical-align: top;
	width: 575px
}

#contentServices table {
	scrollbar: auto
}

#bouquetTable {
	width: 100%;
	margin: 0;
	padding: 0
}

#bouquetTable li {
	list-style: none;
	position: relative;
	display: table
}

.bouquetIcons {
	float: left;
	width: 40px;
	padding-top: 3px
}

.bouquetName {
	float: right;
	width: 215px
}

#contentBouquets {
	border-right: 1px solid #DDD;
	vertical-align: top;
	width: 220px
}

#contentMain {
	padding: 8px;
	margin-bottom: 5px;
	min-height: 365px;
	clear: both;
	overflow-y: auto;
	width: 815px;
	color: #485052
}

#contentMain div table {
	float: left;
	width: 599px
}

.sListItem {
	width: 570px !important;
	color: #485052
}

.sListItem td {
	position: relative;
}

.mListItem {
	width: 780px;
	color: #485052
}

.epgStart {
	width: 50px;
	color: #485052
}

.epgTitle {
	width: 420px;
	color: #485052
}

.epgLength {
	width: 100px;
	text-align: right;
	color: #485052
}

.mListDetail {
	font-size: 12px;
	color: #485052
}

.mStart {
	width: 160px;
	color: #485052
}

.mTitle {
	width: 650px;
	color: #485052
}

.mLength {
	width: 90px;
	text-align: right;
	color: #485052
}

#tools {
	font-size: 12px;
	text-align: center
}

#tools h1 {
	font-size: 14px
}

.tools a, .tools a:hover, .tools a:visited {
	text-decoration: underline
}

.toolsHeader {
	color: #FFF;
	font-weight: bold;
	background-color: #000
}

.tools {
	border: 1px solid #DDD;
	width: 100%;
	margin: 0;
	padding: 0
}

.tools td {
	font-size: 12px;
	padding: 5px;
	vertical-align: top
}

.toolsElementLeft {
	font-weight: bold;
	width: 15%;
	text-align: left
}

.toolsElementCenter {
	text-align: left
}

.toolsElementRight {
	width: 10%;
	text-align: left
}

#about {
	font-size: 12px;
	text-align: center
}

#about h1 {
	font-size: 14px
}

#about a, #about a:hover, #about a:visited {
	text-decoration: underline
}

.aboutHeader {
	width: 100%;
	color: #FFF;
	font-weight: bold;
	background-color: #000
}

.about {
	border: 1px solid #DDD;
	width: 100%;
	margin: 0;
	padding: 0
}

.about td {
	font-size: 12px
}

.aboutElementLeft {
	font-weight: bold;
	width: 50%;
	text-align: left
}

.aboutElementRight {
	width: 50%
}

.w200h50 {
	width: 200px;
	height: 50px
}

.textRight {
	text-align: right
}

.textLeft {
	text-align: left
}

.textCenter {
	text-align: center
}

.tListItemTable {
	position: relative;
	top: 0;
	left: 0;
	margin-left: 22px;
	width: 585px !important
}

.tListSName {
	text-align: left
}

.tListItem {
	font-weight: bold;
	font-size: 13px
}

.tListTitle {
	width: 150px;
	text-align: left
}

.tListDescr {
	width: 150px;
	text-align: left
}

.tListRepeat {
	width: 120px;
	text-align: left
}

.tListDuration {
	width: 120px;
	text-align: left
}

.tListBegin {
	width: 170px;
	text-align: left
}

.tListEnd {
	width: 170px;
	text-align: left
}

.tListAfter {
	width: 85px;
	text-align: left
}

.tListType {
	width: 85px;
	text-align: left
}

.tListOption {
	text-align: right;
	vertical-align: bottom;
	z-index: 9999
}

.tListDelete {
	position: absolute;
	bottom: 2px;
	right: 1px;
	height: 26px;
	width: 100px;
	margin: 0px;
	padding: 0
}

.tListToggleDisabled {
	position: absolute;
	bottom: 2px;
	right: 105px;
	height: 26px;
	width: 100px;
	margin: 0;
	padding: 0
}

.tListButton {
	margin: 0;
	height: 100%;
	width: 100px;
	font-size: 11px;
	vertical-align: middle
}

div.legendRow {
	height: auto;
	overflow: auto
}

div.legendCol {
	float: left;
	width: 100px;
	padding-left: 2px
}

.timerState {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 10px;
	display: block;
	padding: 0
}

.timerState0 {
	background: #485052;
	color: #FFFFFF
}

.timerState1 {
	background: #BD282D;
	color: #FFFFFF
}

.timerState2 {
	background: #2DBD28;
	color: #FFFFFF
}

.timerState3 {
	background: #282DBD;
	color: #FFFFFF
}

td.timerList {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #AAA;
	display: block
}

a.tListEdit {
	display: block;
	margin: 0;
	padding: 1px
}

a.tListEdit:hover {
	display: block;
	margin: 0;
	background: #DDD
}

#timerEditForm table {
	cell-spacing: 1px
}

a.tEditTag {
	margin: 3px 0 3px 0;
	padding: 3px;
	display: inline-block;
	border: 1px solid #AAA
}

a.selected {
	background: #ff9
}

.epgListItem {
	font-size: 12px;
	font-weight: bold
}

* html #banner {
	width: 1005px;
	height: 78px
}

* html #bannerRight {
	width: 120px;
	height: 60px
}

* html #nav {
	width: 99%;
	height: 250px;
	background: #000;
	padding-left: 5px
}

* html .navTable {
	width: 95%
}

input.fd-hidden-input, select.fd-hidden-input {
	display: none
}

.fd-screen-reader {
	position: absolute;
	left: -999em;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	outline: 0 none;
	-moz-outline: 0 none
}

a.dp-disabled, .dp-disabled table {
	opacity: .3 !important;
	filter: alpha(opacity = 40)
}

.dp-disabled, .dp-disabled td, .dp-disabled th, .dp-disabled th span {
	cursor: default !important
}

a.date-picker-control:focus, div.datePicker table td:focus {
	overflow: hidden;
	outline: 0 none;
	-moz-outline: 0 none;
	color: #6482aa !important
}

div.datePicker {
	position: absolute;
	z-index: 9999;
	text-align: center;
	font-size: 11px;
	background: transparent;
	color: #485052;
	padding: 0;
	-moz-user-select: none;
	-khtml-user-select: none
}

div.static-datepicker {
	position: relative;
	top: 5px;
	left: 0
}

div.datePicker table {
	width: auto;
	height: auto;
	border-collapse: separate;
	border-spacing: 1px;
	background: #fff
}

div.datePicker tfoot th.drag-enabled, div.datePicker thead th.drag-enabled, div.datePicker thead th.drag-enabled span {
	cursor: move
}

iframe.iehack {
	position: absolute;
	background: #fff;
	z-index: 9998;
	padding: 0;
	border: 0;
	display: none;
	margin: 0
}

a.date-picker-control:link, a.date-picker-control:visited {
	position: relative;
	display: -moz-inline-stack;
	border: 0 none;
	padding: 0;
	margin: 0 0 0 4px;
	background: transparent url(/web-data/lib/datepicker/media/cal-grey.gif) no-repeat 50% 50%;
	min-width: 16px;
	line-height: 1;
	cursor: pointer;
	visibility: visible;
	text-decoration: none;
	vertical-align: top
}

a.date-picker-control:hover, a.date-picker-control:active, a.date-picker-control:focus, a.dp-button-active:link, a.dp-button-active:visited,
	a.dp-button-active:hover, a.dp-button-active:active, a.dp-button-active:focus {
	background: transparent url(/web-data/lib/datepicker/media/cal.gif) no-repeat 50% 50% !important
}

* html a.date-picker-control {
	width: 16px
}

a.date-picker-control {
	display: inline-block
}

a.date-picker-control span {
	display: block;
	width: 16px;
	height: 16px;
	margin: auto 0
}

div.datePicker thead th span {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 1em;
	border: 0 none;
	background: transparent;
	font-weight: bold;
	cursor: pointer
}

div.datePicker th span.month-display, div.datePicker th span.year-display {
	display: inline;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	cursor: default
}

div.datePicker th span.prev-but, div.datePicker th span.next-but {
	font-weight: lighter;
	font-size: 13px;
	cursor: pointer !important
}

div.datePicker th span.prev-but:hover, div.datePicker th span.next-but:hover, div.datePicker th span.today-but:hover {
	color: #a84444
}

div.datePicker th span.today-but {
	text-align: center;
	margin: 0;
	font-size: 13px;
	width: 100%;
	text-decoration: none;
	padding-top: .3em;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer !important
}

div.dp-disabled th span.prev-but, div.dp-disabled th span.next-but, div.dp-disabled th span.today-but, div.dp-disabled th span.prev-but:hover,
	div.dp-disabled th span.next-but:hover, div.dp-disabled th span.today-but:hover, div.datePicker th span.prev-but.fd-disabled:hover,
	div.datePicker th span.next-but.fd-disabled:hover, div.datePicker thead th span.fd-disabled, div.datePicker th span.fd-disabled:hover
	{
	color: #aaa;
	cursor: default !important;
	opacity: 1
}

div.datePicker th span.fd-day-header {
	text-align: center;
	margin: 0;
	font-size: 11px;
	text-decoration: none;
	text-transform: lowercase;
	cursor: pointer
}

div.datePicker table {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	background: #fff;
	text-align: center;
	width: auto;
	empty-cells: show;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 5px #aaa
}

div.datePicker table tbody th, div.datePicker table td {
	border: 0 none;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #fff;
	width: 2em;
	height: 2em;
	overflow: hidden;
	outline: transparent none 0;
	border: 1px solid #DDD;
	text-transform: none;
	-moz-border-radius: 2px;
	border-radius: 2px
}

div.datePicker table td:focus, div.datePicker table td:active {
	outline: 0 none red
}

div.datePicker table th {
	border: 0 none;
	padding: 0;
	font-weight: bold;
	color: #222;
	text-align: center;
	vertical-align: middle;
	text-transform: none
}

div.datePicker table thead th {
	height: auto !important
}

div.datePicker table tbody th {
	border: 1px solid #dcdcdc
}

div.datePicker table thead th.date-picker-week-header, div.datePicker table tbody th.date-picker-week-header {
	background: url(/web-data/lib/datepicker/media/backstripes.gif);
	color: #DDD;
	font-style: oblique;
	background: transparent;
	cursor: default
}

div.datePicker table thead th.date-picker-week-header {
	cursor: help;
	border: 0 none;
	padding: 0 0 .2em 0
}

div.datePicker tfoot th {
	cursor: default;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .1em;
	border: 0 none;
	background: #fff;
	height: 2.8em
}

div.datePicker table tbody td.date-picker-unused {
	background: #fff url(/web-data/lib/datepicker/media/backstripes.gif);
	border-color: #dcdcdc;
	cursor: default !important
}

div.datePicker table thead th.date-picker-title {
	width: auto;
	height: auto;
	padding: .4em 0;
	background: #000;
	color: #FFF
}

div.datePicker table thead th.date-picker-day-header {
	text-transform: lowercase;
	cursor: help;
	height: auto
}

div.datePicker table tbody td.date-picker-today {
	background: #fff url(/web-data/lib/datepicker/media/bullet2.gif) no-repeat 0 0;
	color: #646464 !important
}

div.datePicker table tbody td.month-out.date-picker-highlight {
	color: #a86 !important
}

div.datePicker table tbody td.date-picker-highlight, div.datePicker table thead th.date-picker-highlight {
	color: #a86666 !important
}

div.datePicker table tbody td.date-picker-hover {
	background: #fff url(/web-data/lib/datepicker/media/bg_header.jpg) no-repeat 0 0;
	cursor: pointer;
	border-color: #6482aa !important;
	color: #6482aa;
	text-shadow: 0 1px 1px #fff
}

div.datePicker table tbody td.day-disabled {
	background: #fff url(/web-data/lib/datepicker/media/backstripes.gif) no-repeat 0 0;
	color: #aaa !important;
	cursor: default;
	text-decoration: line-through
}

div.datePicker table tbody td.month-out {
	border-color: #ddd;
	color: #aaa !important;
	background: #fff url(/web-data/lib/datepicker/media/gradient-e5e5e5-ffffff.gif) repeat-x 0 -40px
}

div.datePicker table tbody td.date-picker-selected-date {
	color: #333 !important;
	border-color: #333 !important
}

div.datePicker table tbody td.out-of-range, div.datePicker table tbody td.not-selectable {
	color: #DDD !important;
	font-style: oblique;
	background: #fcfcfc !important;
	cursor: default !important
}

div.datePicker table tbody th.month-out, div.datePicker table tbody th.out-of-range {
	color: #aaa !important;
	font-style: oblique;
	background: #fcfcfc !important
}

div.datePicker table tbody th.out-of-range {
	opacity: .6;
	filter: alpha(opacity = 60)
}

div.datePicker table tbody td.not-selectable {
	opacity: .8;
	filter: alpha(opacity = 80)
}

div.datePicker table tbody tr {
	display: table-row
}

div.datePicker table tfoot sup {
	letter-spacing: normal;
	text-transform: none;
	height: 0;
	line-height: 1;
	position: relative;
	top: -0.2em;
	vertical-align: baseline !important;
	vertical-align: top
}

div.datepicker-focus table.datePickerTable {
	border-color: #999 !important
}

div.datePicker table tbody tr td:focus, div.datePicker table tbody td.date-picker-hover {
	overflow: hidden;
	outline: 0 solid #f00;
	-moz-outline: 0 none;
	-o-highlight: 0 none;
	color: #6482aa !important
}

div.static-datepicker table {
	-moz-box-shadow: 0 0 0 transparent
}

div.datepicker-focus table {
	outline: 0;
	-moz-box-shadow: 0 0 5px #aaa
}

*:-o-prefocus {
	outline: -o-highlight-border
}

* html div.datePicker table td {
	background-image: none
}

* html div.datePicker table td.date-picker-unused {
	background: #f2f2f2
}

body.fd-drag-active {
	-webkit-user-select: none
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	div.datePicker table {
		-webkit-box-shadow: 0 0 5px #aaa;
		-webkit-border-radius: 3px
	}
	div.static-datepicker table {
		-webkit-box-shadow: 0 0 0 transparent
	}
	div.datepicker-focus table {
		-webkit-box-shadow: 0 0 5px #aaa
	}
	div.datePicker table td, div.datePicker table tbody th {
		padding: .1em;
		-webkit-border-radius: 2px
	}
	div.datePicker table tbody td.date-picker-hover {
		-webkit-box-shadow: 0 0 1px #6482aa
	}
}