Package: enigma2-plugin-extensions-fritzcall
Version: 1.6-20080626-r0
Description: Show Incoming and Outgoing Calls on your TV Screen with a Fritz!Box
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Reichi <stephan@reichholf.net>
Homepage: http://enigma2-plugins.schwerkraft.elitedvb.net
Depends: enigma2(>1.0cvs20070908), twisted-web
Source: http://enigma2-plugins.schwerkraft.elitedvb.net/
