Package: enigma2-plugin-extensions-startuptostandby
Version: 1.0-20080113-r0
Description: set enigma2 to standby-mode after startup
Maintainer: Marcus Groß <mail@marcus-gross.eu>
Depends: enigma2 (>= 2.6git20091014)
