Package: enigma2-plugin-extensions-infobartunerstate
Version: 0.7
Description: Show the tuner state as infobar popup
Maintainer: betonme (Frank Glaser <glaserfrank(at)gmail.com>)
Homepage: http://tecjunkie.blogspot.com/
Depends: enigma2 (>= 2.6git20090615)
