Package: enigma2-plugin-extensions-webbouqueteditor
Version: 0.1
Description: Extension for enigma2 webinterface to sort bouquets and other
Maintainer: Andreas Monzner <andreas.monzner@multimedia-labs.de>
Homepage: http://enigma2-plugins.schwerkraft.elitedvb.net/
Depends: enigma2-plugin-extensions-webinterface
