Package: enigma2-plugin-extensions-shoutcast
Version: 1.0
Description: A client to listen and record SHOUTcast internet radio
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: http://www.dreambox-tools.info
Depends: enigma2 (>> 2.6git20091201), python-twisted-web, streamripper
