Package: enigma2-plugin-systemplugins-toolkit
Version: 0.0.1-20120215-r0
Description: common reusable tools for enigma2 plugins
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2, python-twisted-core, python-threading, python-html, python-re
