Package: enigma2-plugin-systemplugins-startupservice
Version: 1.0
Description: set startup service
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: http://www.dreambox-tools.info
Depends: enigma2 (>> 2.6git20091223)
