Package: enigma2-plugin-extensions-tuxcom
Version: 1.16
Description: Enigma2 Plugin TuxBox Commander
Section: extra
Priority: optional
Maintainer: JuSt <Software@Strasdas.de>
Architecture: mipsel
OE: tuxcom-1.16
Homepage: http://wiki.tuxbox.org/wiki/index.php/Plugins:TuxBox_Commander
Depends: enigma2(>=2.0)
Source: http://www.i-have-a-dreambox.com/wbb2/thread.php?threadid=148643
