Package: enigma2-plugin-extensions-werbezapper
Version: 0.2-20070820-r0
Description: Werbezapper-Plugin for Enigma2
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2 (>> 2.3git20080214)
