Package: enigma2-plugin-extensions-podcast
Version: 0.1-r0
Description: Stream podcasts
Maintainer: Nabil Hanna <nabil1978@web.de>
Homepage: http://www.lt-forums.org/ali
Depends: enigma2 (>= 2.6git20090520), gst-plugin-neonhttpsrc, python-twisted-web
