Package: enigma2-plugin-systemplugins-vps
Version: 0.4
Description: VPS-Plugin
Section: extra
Priority: optional
Maintainer: Martin Gauk <mart-g@web.de>
Architecture: mipsel
Replaces: enigma2-plugin-extensions-vps
Conflicts: enigma2-plugin-extensions-vps
Depends: enigma2 (>= 2.6git20091203)
