Package: enigma2-plugin-extensions-movieselectionquickbutton
Version: 1.0
Description: assign buttons (red/green/yellow/blue) to plugins from MOVIELIST
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: http://www.dreambox-tools.info
Depends: enigma2 (>> 2.6git20090518)
