Package: enigma2-plugin-extensions-ofdb
Version: 0.1-20080502-r0
Description: query movie details from the Online Film Datenbank
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: fraxinas <andreas.frisch@multimedia-labs.de>
Homepage: n/a
Depends: enigma2(>1.0git20070908), python-html, twisted-web
Source: http://schwerkraft.elitedvb.net/scm/?group_id=11
