name: enigma2-plugins build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build enigma2-plugins
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gcc: [9, 11]
    steps:
      - name: Install prerequisites
        run: |
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt-get -q update
          sudo apt-get install automake
          sudo apt-get install build-essential
          sudo apt-get install gettext
          sudo apt-get install g++-${{ matrix.gcc }}

      - uses: actions/checkout@v2
        with:
          ref: 'master'
      - uses: actions/setup-python@v2
        with:
          python-version: '2.7'

      - name: Build plugins, gcc-${{ matrix.gcc }}, python 2.7
        env:
          CC: "gcc-${{ matrix.gcc }}"
          CXX: "g++-${{ matrix.gcc }}"
        run: |
          pip install six
          sed -i '/PKG_CHECK_MODULES(ENIGMA2, enigma2)/d' ./configure.ac
          sed -i '/PKG_CHECK_MODULES(LIBCRYPTO, libcrypto)/d' ./configure.ac
          autoreconf -i
          ./configure --without-debug --with-po
          make
          python -m compileall .

      - uses: actions/checkout@v2
        with:
          ref: 'master'

      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Build plugins, gcc-${{ matrix.gcc }}, python 3.9
        env:
          CC: "gcc-${{ matrix.gcc }}"
          CXX: "g++-${{ matrix.gcc }}"
        run: |
          sudo apt-get install python3.9-dev  
          pip3 install six
          sed -i '/PKG_CHECK_MODULES(ENIGMA2, enigma2)/d' ./configure.ac
          sed -i '/PKG_CHECK_MODULES(LIBCRYPTO, libcrypto)/d' ./configure.ac
          autoreconf -i
          ./configure --without-debug --with-po
          make
          rm -rf ./subsdownloader2
          python -m compileall .

      - uses: actions/checkout@v2
        with:
          ref: 'master'

      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Build plugins, gcc-${{ matrix.gcc }}, python 3.10
        env:
          CC: "gcc-${{ matrix.gcc }}"
          CXX: "g++-${{ matrix.gcc }}"
        run: |
          sudo apt-get install python3.9-dev  
          pip3 install six
          sed -i '/PKG_CHECK_MODULES(ENIGMA2, enigma2)/d' ./configure.ac
          sed -i '/PKG_CHECK_MODULES(LIBCRYPTO, libcrypto)/d' ./configure.ac
          sed -i 's/$PYTHON -c \"import distutils\"/$PYTHON -c \"import sys\"/g' ./m4/ax_python_devel.m4
          autoreconf -i
          ./configure --without-debug --with-po
          make
          rm -rf ./subsdownloader2
          python -m compileall .
